* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: auto;
}

.question-area {
    justify-content: center;
    align-items: center;
}

.question-area .divLabel {
    margin: 0px 10px;
}

#questionInput {
    width: 400px;
}

#chat-hero {
    max-height: 50vh;
    overflow-y: auto;
}

.chat-area {
    justify-content: center;
    align-items: center;
}

.is-question {
    font-weight: bold;
    margin-bottom: 5px !important;
}